.row{
    width: 100%;
    height: 90vh;
}

.card img{

    height: 220px;
}


a{
    text-decoration: none;
}

.card{
    animation: cardTransition 2s;
}
.card:hover{
    transform: scale(1.1);
    transition: all ease-out 0.5s;
}

@keyframes cardTransition {
    0%{
        opacity: 0.3;
        transform: scale(1.1);
    }
    50%{
        transform: scale(0.8);
        transition: all ease-in-out 1s;
    }
    100%{
        opacity: 1;
        transition: all ease-in-out 1s;
    }
}